* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #999c9a;
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 14.13%;
}

header nav {
    margin-top: 20px;
}

header nav a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(220, 203, 237);
    padding: 10px 20px;
    border-radius: 6px;
}

header nav a:hover {
    text-decoration: underline;
    color :#7b23f7;
}

/* Main Container */
.container {
    display: flex;
    min-height: 75vh;
}

/* Sidebar */
aside {
    height: 740px;
    width: 220px;
    margin-top: -135px;
    margin-left:-110px;
    background-color: #e0dfe6;
    padding: 40px;
}

aside h3 {
    margin-bottom: 30px;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin: 25px 0;
    margin-left: 5px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

aside ul li a:hover {
    color: #7b23f7;
    background-color: rgb(220, 203, 237);
    padding: 10px;
    border-radius: 6px;
}

/* Main Content */
main {
    flex: 1;
    padding: 40px;
    text-align: center;
}

main h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.views-count {
    font-size: 40px;
    font-weight: bold;
    color: #551ba6;
}

/* Footer */
footer {
    background-color: #999c9a;
    color: black;
    text-align: center;
    padding: 15px;
    margin-left: 14.13%;
    margin-top: -54px;
}

a{
    
}
